body{
    background-image: url('https://images.unsplash.com/photo-1727255958110-0edaec0a2d78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* La imagen estará centrada */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    
}
.card {
    background-color: rgb(223, 214, 242);
    margin-top: 6%;
}
.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(137, 172, 218);
  }
  .btn {
    background-color: rgb(193, 215, 244);
  }

  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }